<div class="main_box">
    <div class="main_title">
      <div>
        <img width="64" height="64" src="https://img.icons8.com/cotton/64/pen-2.png" alt="pen-2"/>
        <h1>Tools & Skills</h1>
      </div>
      <h2>I can use this Tools & Skills. Also, I'm practicing something.</h2>
    </div>
    <div class="main_content">
      <div class="project_box">

        <div class="mini_box">
          <h4>Programming Languages</h4>
          <section>
            <img width="96" height="96" src="https://img.icons8.com/color/96/python--v1.png" alt="Python"/>
            <img width="96" height="96" src="https://img.icons8.com/color/96/c-programming.png" alt="C"/>
          </section>
        </div>

        <div class="mini_box">
          <h4>AI/ML Frameworks</h4>
          <section>
            <img width="48" height="48" src="https://img.icons8.com/fluency/48/pytorch.png" alt="PyTorch"/>
            <img width="48" height="48" src="https://img.icons8.com/color/48/tensorflow.png" alt="TensorFlow 2"/>
            <img width="48" height="48" src="https://cdn.simpleicons.org/keras/FF0000" alt="Keras"/>
            <img width="48" height="48" src="/assets/images/icons/yolo.png" alt="YOLO"/>
          </section>
        </div>

        <div class="mini_box">
          <h4>Robotics & Simulation</h4>
          <section>
            <img width="48" height="48" src="/assets/images/icons/ros2.png" alt="ROS2"/>
            <img width="48" height="48" src="/assets/images/icons/gazebo.png" alt="Gazebo"/>
            <img width="48" height="48" src="/assets/images/icons/rviz.png" alt="Rviz"/>
          </section>
        </div>

        <div class="mini_box">
          <h4>Computer Vision</h4>
          <section>
            <img width="48" height="48" src="https://img.icons8.com/fluency/48/opencv.png" alt="OpenCV"/>
          </section>
        </div>

        <div class="mini_box">
          <h4>GUI Development</h4>
          <section>
            <img width="48" height="48" src="/assets/images/icons/pyqt.png" alt="PyQt"/>
          </section>
        </div>

        <div class="mini_box">
          <h4>Database</h4>
          <section>
            <img width="48" height="48" src="https://cdn.simpleicons.org/sqlite/003B57" alt="SQLite"/>
          </section>
        </div>

        <div class="mini_box">
          <h4>Version Control</h4>
          <section>
            <img width="96" height="96" src="https://img.icons8.com/color/96/git.png" alt="Git"/>
            <img width="96" height="96" src="https://img.icons8.com/ios-filled/96/github.png" alt="GitHub"/>
          </section>
        </div>

        <div class="mini_box">
          <h4>Operating Systems</h4>
          <section>
            <img width="48" height="48" src="https://img.icons8.com/color/48/ubuntu--v1.png" alt="Ubuntu"/>
          </section>
        </div>

        <div class="mini_box">
          <h4>Collaboration Tools</h4>
          <section>
            <img width="48" height="48" src="https://cdn.simpleicons.org/slack/4A154B" alt="Slack"/>
            <img width="48" height="48" src="https://cdn.simpleicons.org/notion/000000" alt="Notion"/>
          </section>
        </div>

        <!-- <div class="mini_box">
          <h4>Circuit Design</h4>
          <img src="./images/icon_home.png" alt="Home">
          <img src="./images/icon_home.png" alt="Home">
          <img src="./images/icon_home.png" alt="Home">
          <img src="./images/icon_home.png" alt="Home">
        </div> -->

      </div>
    </div>
  </div>